.bottom-mobile-navigation {
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(233, 233, 233);
  width: 100%;
  background-color: white;
  z-index: 9999;
}

@media (min-width: 720px) {
  .bottom-mobile-navigation, .top-mobile-navigation {
    display: none;
  }
}