.rs-header {
  background-color: var(--rs-navbar-default-bg);
}

.container-navbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-navbar {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-navbar {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-navbar {
    width: 1470px;
  }
}

@media (max-width: 768px) {
  .container-navbar {
    display: none;
  }
}