.auth-layout {
  height: 100vh;

  .auth-content {
    padding: 20px;
  }

  img {
    margin-left: -20px;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
    margin-bottom: 30px;
  }
}