::selection {
  color: #fff;
  background-color: rgb(31, 157, 33);
}

#root {
  font-family: 'DM Sans', sans-serif !important;
}

body {
  margin: 0;
}

// Google Icons
.material-symbols-outlined {
  font-size: 16px;
  margin-right: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 16
}

.container, .term-of-service {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container, .term-of-service {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .term-of-service {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .term-of-service {
    width: 1170px;
  }
}