.session {
  h4 {
    font-weight: 400 bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .collapsed {
    font-weight: 600 !important;
  }

  .rs-panel-header {
    padding: 0;
  }

  .rs-panel-body {
    padding: 0;
    margin-top: 30px;
    
    .rs-flex-box-grid {
      .rs-flex-box-grid-item {
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid #cecece;
        border-radius: 10px;

        .session-content {
          display: flex;
          align-items: center;
          padding-left: 20px;
          padding-right: 20px;

          .session-content-information {
            margin-left: 20px;
          }
        }

        .session-control {
          border-top: 1px solid #cecece;
          padding-top: 20px;
          margin-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}