::selection {
  color: #fff;
  background-color: rgb(31, 157, 33);
}

#root {
  font-family: 'DM Sans', sans-serif !important;
}

body {
  margin: 0;
}

// Google Icons
.material-symbols-outlined {
  font-size: 16px;
  margin-right: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 16
}